#home-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin: 0;
  max-height: 100%;
}

#side-bar {
  position: relative;
  min-width: 20%;
  background-color: white;
  border-right: solid black 1px;
  display: flex;
  flex-direction: column;
}

.side-item-unselected {
  flex: 1;
  border: 0;
  color: #881c1c;
  font-size: larger;
}
.side-item-unselected:hover {
  background-color: #e6e6e6;
  border: 0;
}

.side-item-selected {
  flex: 1;
  border: 0;
  background-color: #881c1c;
  font-size: larger;
  color: #e6e6e6;
}


#postings {
  flex-grow: 1;
}

/* #grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18pt;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #881c1c;
  border: 0;
} */
