#home-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100vh;
}

#side-bar {
  flex-grow: 1;
  position: relative;
  max-width: 20%;
  background-color: white;
  border-right: solid black 1px;
  display: flex;
  flex-direction: column;
  height: calc(100% - (80px + 35px));
}

.side-item-unselected {
  flex: 1;
  border: 0;
  color: #881c1c;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 15px;
}
.side-item-unselected:hover {
  background-color: #e6e6e6;
  border: 0;
}

.side-item-selected {
  flex: 1;
  border: 0;
  background-color: #881c1c;
  font-size: larger;
  color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 15px;
}

#cat-img {
  width: 20%;
  height: 60%;
  object-fit: fill;
  border: solid black 1px;
  /* border-radius: 90%; */
}

#postings {
  flex-grow: 1;
}
