#post-container {
  width: 200px;
  height: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  margin: 10px;
}
#post-image {
  top: 0;
  right: 0;
  width: 200px;
  height: 170px;
}

#post-content {
  background-color: white;
  margin: 0;
}

#post-name {
  bottom: 5px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}

#post-price {
  position: absolute;
  margin: 0;
  bottom: 0px;
  right: 10px;
}
