#posting-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: min-content;
  justify-content: space-evenly;
  gap: 30px;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10px;
  margin-bottom: 100px;
  overflow: scroll;
  width: 100%;
  height: calc(100% - (80px + 35px));
}

#post-grid-item {
  width: auto;
  /* border: solid black 4px; */
  cursor: pointer;
}
