#posting-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: scroll;
  height: calc(100% - (80px + 35px));
}

#post-grid-item {
  width: auto;
  padding: auto;
  cursor: pointer;
}
