#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
#top-container {
  display: flex;
  width: 100%;
  min-height: 80px;
  margin: 0;
  position: sticky;
  top: 0;
}
.top-item {
  flex: 1;
  margin: auto;
  padding: auto;
  font-size: 20pt;
  text-align: center;
  height: 80px;
  background-color: #881c1c;
  border: 0;
  cursor: pointer;
  transition: 1s box-shadow;
  color: white;
}

.top-item:first-child {
  flex: 0 0 15%;
  /* object-fit: contain; */
  /* height: 100%;
  width: 80%; */
  background-color: white;
}
.top-item:nth-child(2) {
  flex: 0 0 37.5%;
  background: #881c1c;
}
.top-item:nth-child(2):hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #742222;
}
.top-item:nth-child(3) {
  flex: 0 0 37.5%;
  background: #881c1c;
}
.top-item:nth-child(3):hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #742222;
}

.top-item:last-child {
  flex: 0 0 10%;
  background: #881c1c;
}
.top-item:last-child:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #742222;
}

#account-logo {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

#search-bar {
  display: flex;
  width: 100%;
  min-height: 45px;
  margin: 0;
  position: sticky;
}

.search-item {
  flex: 1;
  height: 1fr;
  background-color: white;
  border: 0;
  font-size: 12pt;
  border-left: solid 0.5px black;
  border-right: solid 0.5px black;
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  padding: auto; 
}
.search-item:focus {
  outline: none;
}

.search-item:first-child {
  flex: 0 0 15%;
  text-align: center;
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
}
.search-item:first-child:hover {
  cursor: pointer;
}
.search-item:nth-child(2) {
  flex: 0 0 75%;
  padding-left: 10px;
  font-size: large;
}
.search-item:last-child {
  flex: 0 0 10%;
}
.search-item:last-child:hover {
  cursor: pointer;
}
#search-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
  text-align: center;
}
#search-logo:hover img[id="search-animate"] {
  display: block;
}
#search-logo:hover img[id="search-static"] {
  display: none;
}
#search-animate {
  display: none;
  height: 90%;
  padding-left: 58px;
}
#search-static {
  height: 90%;
}

#main-view {
  flex-grow: 1;
  /* background-image: url("/umass-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  /* opacity: 0.9; */
  background: white;
  /* background: #333333; 
  background: -webkit-linear-gradient(
    to right,
    #dd1818,
    #333333
  ); 
  background: linear-gradient(
    to right,
    #dd1818,
    #333333
  );  */
}
#create-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid black 1px;
  font-size: xx-large;
  background-color: #921b1b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#create-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
