#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#top-container {
  display: inline-flex;
  width: 100%;
  height: 80px;
  background-color: yellowgreen;
  margin: 0;
}
.top-item {
  flex: 1;
  margin: auto;
  padding: auto;
  text-align: center;
}
.top-item:last-child {
  flex: 0 0 10%;
}
.top-item:not(:last-child) {
  flex: 0 0 30%;
}
#main-view {
  flex-grow: 1;
  background-color: gray;
}
